{% extends "core/base.html" %}
{% load static %}
 

{% block content %}
 <!-- Order Summary Section -->
 <div class="col-lg-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0 text-center">Order Summary</h5>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td class="text-center">₹{{ item.discounted_price }}</td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-end">₹{{ item.price_and_quantity_total }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="text-end"><strong>Subtotal</strong></td>
                        <td class="text-end">₹{{ total }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-end"><strong>Shipping</strong></td>
                        <td class="text-end">₹2000</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-end"><strong>Total</strong></td>
                        <td class="text-end">₹<b>{{ final_price }}</b></td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url "payment" %}">hyjuj
            <button type="button" class="btn btn-success btn-block btn-lg mt-3">Proceed to Pay</button></a>
        </div>
    </div>
</div>
</div>
</div>

<div class="col-sm-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-3">
                <form action="{% url "payment" %}" method="POST">
                        {% csrf_token %}
                        {% for add in address %}
                        <label >
                            <div class="card flex-md-row mb-4 box-shadow h-md-250 mt-4 ml-4">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <h3 class="mb-0">
                                        <input type="radio" name="selected_address" value="{{ add.id }}" checked>
                                    Name: {{add.name}}
                                </h3>
                                <p class="card-text mb-auto">Address:{{add.address}} </p>
                                <p class="card-text mb-auto">City:{{add.city}} </p>
                                <p class="card-text mb-auto">State: {{add.state}} </p>
                                <p class="card-text mb-auto">Pincode:{{add.pincode}} </p>
                                
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    
                                    </div>
                                </div>
                            </div>
                        </label>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary btn-sm mt-2" value="Proceed to Payment">
                    </form>   
                </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}